MONGO_URI=mongodb+srv://<db_user>:<db_password>@cluster0.ygbf9pf.mongodb.net/Yoli?retryWrites=true&w=majority
ADMIN_USERNAME=admin_placeholder
ADMIN_PASSWORD=password_placeholder
JWT_SECRET=secret_placeholder
